:root {
  --darkgreen: #293033;
  --lightgreen: #1c525c;
  --softyellow: #f0edcc;
  --white: #fefefe;
  --darkgray: #757575;
  --lightgray: #bdbdbd;
  --black: #212121;
  --font-title: 'Roboto Slab', -apple-system, sans-serif;
  --font: 'Roboto', -apple-system, sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--darkgreen);
}

h1 {
  font-size: 2.488rem;
}
h2 {
  font-size: 2.074rem;
}
h3 {
  font-size: 1.728rem;
}
h4 {
  font-size: 1.44rem;
}
h5 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}

body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  background: var(--white);
}

img {
  width: 100%;
  height: auto;
}

.Wrapper {
  width: 100%;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-columns: repeat(1fr, 5);
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(300px);
}

/**
* Resume 
*/

.Resume {
  /* background: #dedede; */
  border-right: 1px solid var(--lightgray);
}

.Header {
  background: var(--softyellow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header__title {
  text-align: center;
}

.Header__subtitle {
  font-size: 1.4rem;
  text-align: center;
}

.Profile {
  width: 122px;
  height: auto;
  border-radius: 50%;
  border: 4px solid var(--darkgreen);
}

.Metrics {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Metrics__title {
  text-align: center;
}

.Metrics__text {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0;
}

/*
* Skills 
*/
.Skills {
  padding: 1rem;
}

.Skills__item {
  line-height: 1.4;
}

/*
* Contact 
*/

.Contact {
  padding: 1rem;
}

.Contact__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.Contact__link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--darkgreen);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--white);
}
.Contact__link:hover {
  background: var(--lightgreen);
}

.Contact__icon {
  font-size: 1.5rem;
}

/* Hide Menu in Desktop and Tablets*/
.Menu {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 968px) {
  .Wrapper {
    grid-template-columns: 1fr 1fr 2fr;
  }
}

@media screen and (max-width: 568px) {
  .Wrapper {
    position: relative;
    grid-template-columns: 1fr;
    padding-bottom: 180px;
  }

  /* Show Menu in Mobile */
  .Menu {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: var(--softyellow);
  }

  .Menu__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .Menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Menu__link {
    text-decoration: none;
    text-align: center;
    color: var(--darkgreen);
  }

  .Menu__link:hover {
    color: var(--lightgreen);
  }

  .Menu__icon {
    font-size: 2.3rem;
  }

  .Menu__title {
    display: block;
    font-family: var(--font-title);
    font-size: 0.9rem;
  }
}
